{% extends 'home/front/form.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="{{ path('app_category_index') }}" class="" >
                            <h3 class="text-primary"><img src="{{ asset('front_office/img/Al3ab/al3ab_blanc.png') }} " width="30%" height="30%" alt="">Add Reservation</h3>
                        </a>
                    </div>
                    {{ form_label(form.Date_reservation) }}
                    {{ form_widget(form.Date_reservation, {attr: {'class': 'form-control', 'placeholder': 'Date_reservation', 'autocomplete': 'Date reservation'}}) }}
                    {% if form_errors(form.Date_reservation)|length > 0 %}
                        <div class="error-message">{{ form_errors(form.Date_reservation) }}</div>
                    {% endif %}
                    {{ form_label(form.Mode_paiement) }}
                    {{ form_widget(form.Mode_paiement, {attr: {'class': 'form-control', 'placeholder': 'Mode_paiement', 'autocomplete': 'Mode paiement'}}) }}
                    {% if form_errors(form.Mode_paiement)|length > 0 %}
                        <div class="error-message">{{ form_errors(form.Mode_paiement) }}</div>
                    {% endif %}
                    {{ form_row(form.Event, {attr: {'class': 'form-control', 'placeholder': 'Nom evenement', 'autocomplete': 'nom_Evenement'}}) }}

                    <div class="text-center mb-0">
                        {{ form_row(form.Submit, {attr: {'class': 'btn btn-primary py-3 w-100 mb-4'} }) }}
                        {{ form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}