{% extends 'home/front/form.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="{{ path('app_category_index') }}" class="" >
                            <h3 class="text-primary"><img src="{{ asset('front_office/img/Al3ab/al3ab_blanc.png') }} " width="30%" height="30%" alt="">Add Category</h3>
                        </a>
                    </div>
                    {{ form_label(form.theme) }}
                    {{ form_widget(form.theme, {attr: {'class': 'form-control', 'placeholder': 'Enter Theme', 'autocomplete': 'theme'}}) }}
                    {% if form_errors(form.theme)|length > 0 %}
                        <div class="error-message">{{ form_errors(form.theme) }}</div>
                    {% endif %}
                    {{ form_label(form.genre) }}
                    {{ form_widget(form.genre, {attr: {'class': 'form-control', 'placeholder': 'Enter Genre', 'autocomplete': 'genre'}}) }}
                    {% if form_errors(form.genre)|length > 0 %}
                        <div class="error-message">{{ form_errors(form.genre) }}</div>
                    {% endif %}

                    <div class="text-center mb-0">
                        {{ form_row(form.Submit, {attr: {'class': 'btn btn-primary py-3 w-100 mb-4'} }) }}
                        {{ form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}