{% extends 'home/front/form.html.twig' %}
{% block body %}
    {{ form_start(form, {'attr': {'class': 'container-fluid'}}) }}
    <div class="container-fluid">
        <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <a href="{{ path('app_user_index') }}" class="" >
                            <h3 class="text-primary"><img src="{{ asset('front_office/img/Al3ab/al3ab_blanc.png') }} " width="30%" height="30%" alt="">Change User</h3>
                        </a>
                    </div>
                    {{ form_row(form.email, {attr: {'class': 'form-control', 'placeholder': 'Email', 'autocomplete': 'email'}}) }}
                    {{ form_row(form.username, {attr: {'class': 'form-control', 'placeholder': 'Username', 'autocomplete': 'username', 'value': user.getUserIdentifierNom()}}) }}
                    <div class="form-floating mb-4">
                        {{ form_row(form.roles, {attr: {'class': 'form-control w-50 mb-4 '}}) }}
                    </div>
                    <div class="text-center mb-0">
                        {{ form_row(form.Submit, {attr: {'class': 'btn btn-primary py-3 w-100 mb-4'} }) }}
                        {{ form_errors(form) }}
                        {{ form_end(form)}}
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}